{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Bell family calendar {% endblock %}</h1>
<p></p>
<table>
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr>
        <td>Go to shops</td>
        <td>Eat</td>
        <td>Nap</td>
        <td>Walk the cat</td>
        <td>Something quite long to see what happens</td>
        <td>Tea</td>
        <td>Large pizza</td>
    </tr>
</table>

{% endblock %}